<div class="row">
  <table class="table table-striped">
    <tr *ngFor="let match of matches">
      <td class="col-md-2">{{match.datePlayed | date:'d/M/y'}}</td>
      <td class="col-md-2">
        <strong>{{match.total.player1}} - {{match.total.player2}}</strong>
      </td>
      <td *ngFor="let game of match.games" class="text-center col-md-1">
        <span [class.winner]="game.winner == player.One" [class.loser]="game.winner != player.One">{{game.player1}}</span>
        -
        <span [class.winner]="game.winner == player.Two" [class.loser]="game.winner != player.Two">{{game.player2}}</span>
      </td>
    </tr>
  </table>
</div>